[package]
name = "odbc2parquet"
version = "0.6.24"
authors = ["Markus Klein"]
edition = "2021"
repository = "https://github.com/pacman82/odbc2parquet"
documentation = "https://docs.rs/odbc2parquet/"
license = "MIT"

# A short blurb about the package. This is not rendered in any format when
# uploaded to crates.io (aka this is not markdown).
description = "Query an ODBC data source and store the result in a Parquet file."

# This is a list of up to five keywords that describe this crate. Keywords
# are searchable on crates.io, and you may choose any words that would
# help someone find this crate.
keywords = ["odbc", "parquet", "sql"]

# This is a list of up to five categories where this crate would fit.
# Categories are a fixed list available at crates.io/category_slugs, and
# they must match exactly.
categories = ["command-line-utilities"]

# This points to a file under the package root (relative to this `Cargo.toml`).
# The contents of this file are stored and indexed in the registry.
# crates.io will render this file and place the result on the crate's page.
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
odbc-api = "0.35.1"
anyhow = "1.0.55"
stderrlog = "0.5.1"
log = "0.4.14"
chrono = "0.4.19"
num-bigint = "0.4.3"
atoi = "1.0.0"
num-traits = "0.2.14"
clap_complete = "3.1.0"

[dependencies.clap]
version = "3.1.1"
features = ["derive", "env"]

[dependencies.parquet]
version = "9.1.0"
default_features = false
features =  ["snap", "brotli", "flate2", "lz4", "zstd", "base64"]

[dev-dependencies]
assert_cmd = "2.0.4"
lazy_static = "1.4.0"
predicates = "2.1.1"
tempfile = "3.3.0"

[profile.release]
# Panics should only be caused by logic errors and are considered bugs
panic = 'abort'
# Link time Optimization
lto = true
