name: Push

on: [push, pull_request]

jobs:
  test:
    name: Run tests on Ubuntu
    runs-on: ubuntu-latest

    # Database services used for testing
    services:
      # Microsoft SQL Server
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
        - 1433:1433
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: My@Test@Password1

      postgres:
        image: postgres:17
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: test
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install latest rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Install ODBC Drivers
        run: |
          sudo apt-get update
          sudo apt-get install -y unixodbc-dev odbc-postgresql msodbcsql18 devscripts
          # Fix PostgreSQL driver paths
          sed --in-place 's/psqlodbca.so/\/usr\/lib\/x86_64-linux-gnu\/odbc\/psqlodbca.so/' /etc/odbcinst.ini
          sed --in-place 's/psqlodbcw.so/\/usr\/lib\/x86_64-linux-gnu\/odbc\/psqlodbcw.so/' /etc/odbcinst.ini
        shell: sudo bash {0}

      - name: Print odbcinst.ini
        run: cat /etc/odbcinst.ini

      - name: Test
        run: |
          # Parquet tooling is used to verify output of this tool in tests
          cargo install parquet --features cli
          # Run test suite
          cargo test


  dependabot:
    needs: [test]
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    steps:
      - name: Merge Dependabot Pull Request
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
